:root {
    --fontePmf: 'Montserrat', sans-serif;
    --brancoPmf: #ffffff;
    --pretoPmf: black;
    --azulPmfEscuro: #002f66;
    --azulPmfClaro: #0093d4;
    --azulPmfClaro_1:#00b0eb7b;
}

.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--azulPmfClaro_1);
    z-index: 5;
}

.full {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--brancoPmf);
    border: 1px solid rgba(0, 0, 0, 0.306);
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: .5rem;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--azulPmfEscuro);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    
}

.body p{
    margin-bottom: 1rem;
    font-size: large;
    font-family: var(--fontePmf);
    font-weight: 500;
    color: var(--azulPmfEscuro);
}

.body h2 {
    margin-bottom: 1rem;
    font-size: x-large;
    font-family: var(--fontePmf);
    font-weight: 500;
    color: var(--azulPmfEscuro);
    text-align: center;
}

@media (max-width: 500px) {
    .full {
        max-width: 80%;
        max-height: 95%;
    }

    .body p{
        font-size: medium;
    }

    .body h2 {
        font-size: large;
        font-weight: 600;
    }
}